<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>结算页</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pages-getOrderInfo.css"/>
</head>

<body>


<div class="cart py-container" id="cart">
    <!--主内容-->
    <div class="checkout py-container">
        <div class="checkout-tit">
            <h4 class="tit-txt">订单信息</h4>
        </div>
        <div class="checkout-steps">
            <div class="hr"></div>
            <!--支付和送货-->
            <div class="payshipInfo">
                <div class="hr"></div>
                <div class="step-cont">
                    <ul class="send-detail">
                        <li>
                            <div class="sendGoods">
                                <span>订单编号：</span><em th:text="${order.id}"></em>
                            </div>
                            <div class="sendGoods">
                                <span>订单状态：</span>
                                <em th:switch="${order.status}">
                                    <span th:case="0">没有可用库存</span>
                                    <span th:case="1">已创建，等待付款</span>
                                    <span th:case="2">已支付,等待发货</span>
                                    <span th:case="99">订单关闭，超时未付款</span>
                                </em>
                            </div>
                            <div class="sendGoods">
                                <span>订单创建时间：</span><em
                                    th:text="${#dates.format(order.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}"></em>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="hr"></div>
            </div>
        </div>
    </div>
    <div class="clearfix trade">
        <div class="fc-price"><span style="color:#c81623;font-weight: bold">订单金额:</span></div>
        <span style="color:#c81623;font-weight: bold"> <em th:text="'￥'+${orderShowPrice}"></em></span>
    </div>

    <em th:switch="${order.status}">
			<span th:case="1">
				<div class="submit">
					<a class="sui-btn btn-danger btn-xlarge" th:href="@{'/order/payOrder/' + ${order.id}}">支付订单金额</a>
				</div>
			</span>
    </em>
</div>
<!-- 底部栏位 -->
<!--页面底部-->
<!--页面底部END-->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>

<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
</body>
</html>